Este es un componente de alertas

<div class="alert alert-info">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos, dolore doloremque earum explicabo
    illo, minima praesentium provident quas rem sunt tempora! Debitis facilis minus quasi saepe voluptatum! Id,
    voluptatum?
</div>

<div class="alert alert-success">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos, dolore doloremque earum explicabo
    illo, minima praesentium provident quas rem sunt tempora! Debitis facilis minus quasi saepe voluptatum! Id,
    voluptatum?
</div>


<div class="alert alert-warning">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos, dolore doloremque earum explicabo
    illo, minima praesentium provident quas rem sunt tempora! Debitis facilis minus quasi saepe voluptatum! Id,
    voluptatum?
</div>